{{include  file="$smarty_root/header.html" }}
<link rel="stylesheet" media="screen" href="{{$rootpath}}/vendors/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet" media="screen" href="{{$rootpath}}/css/datepicker.fixes.css">
<script type="text/javascript" src="{{$rootpath}}/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{$rootpath}}/vendors/html2canvas/dist/html2canvas.js"></script>
<style>
    #box {
        min-height:320px;
        background-color:#ffffff;
        border:solid 1px #cccccc;
        border-radius:4px;
    }
    #box .bar{
        margin-top:5px;
        margin-bottom:5px;
        margin-left:15px;
        margin-right:15px;
        background-color:#89B0D8;
        border:solid 1px #89B0D8;
        border-radius:4px;
        height:20px;
        color:#ffffff
    }
    #box .bar .bartitle{
        padding-left:25px;
    }
    #box .bar .dot{
        background-color:#ffffff;
        border:solid 1px #ffffff;
        border-radius:10px;
        height:10px;
        width:10px;
        color:#ffffff;
        margin-top:4px;
        margin-left:10px;
        float:left;
    }
    #box .title{
        font-size:20px;
        font-weight:bold;
        margin-top:20px;
    }
    #box #formtable{
        margin-top:7px;
        width:900px;
        margin-left:15px;
    }
    #box #formtable input{
        border:0px;
        border-color:#ffffff;
        text-align:center;
    }
        #box #formtable select {
            border: 0px;
            border-color: #ffffff;
            text-align: center;
        }
        #box #formtable textarea {
            border: 0px;
            border-color: #ffffff;
        }
    #box #formtable td{
        width:110px;
        height:30px;
    }
    #box .fieldset{
        margin-top:10px;
    }
        #box .fieldname,.field {
            padding-left: 0px;
            padding-right: 0px;
        }
        #box  select {
            border: solid 1px #9DCDD2;
        }
        #box input {
            padding-left: 5px;
            width: 95%;
            border: solid 1px #9DCDD2;
        }
        #box textarea {
            padding-left: 5px;
            width: 95%;
            border: solid 1px #9DCDD2;
        }
        #box .result {
            padding-left: 45px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        #box .content {
            padding-left: 75px;
            padding-right: 75px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #box .uploadrow {
            margin-left: 15px;
            margin-top: 5px;
        }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-10" style="padding-right:0px;">档案：
                                <select id="file_id">
                                    <option value="0">--请选择--</option>
                                    {{foreach from=$files item=rs}}
                                    <option value="{{$rs.id}}">{{$rs.title}}</option>
                                    {{/foreach}}
                                </select></div>
                        </div>
                    </div>         
                </div>
            </div>
            <div class="col-md-12 " style="margin-top: 10px; ">
                <div id="box">
                    <div class="row bar">
                        <div class="dot"></div>
                        <div class="small bartitle">家庭医生服务管理中心</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center title">
                            远程会诊报告单
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right small" style="padding-right:30px;">
                            * 请真实填写报告单中的信息
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-md-12 text-center">
                            <table id="formtable" border="1">
                                <tr>
                                    <td>会诊类别:</td>
                                    <td>
                                        <input type="text" readonly="readonly" id="category" value="单科会诊" />
                                    </td>
                                    <td>会诊方式:</td>
                                    <td>
                                        <input type="text" readonly="readonly" id="way" value="视频会诊" />
                                    </td>
                                    <td>专家要求:</td>
                                    <td>
                                        <input type="text" readonly="readonly" id="necessary" value="会诊方要求" />
                                    </td>
                                    <td>紧急程度:</td>
                                    <td>
                                        <select id="urgent">
                                            <option>普通</option>
                                            <option>紧急</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>联系人姓名:</td>
                                    <td><input type="text" class="notnull" id="contact" value="" /></td>
                                    <td>联系电话:</td>
                                    <td><input type="text" class="notnull" id="contact_tel" value="" />
                                    </td>
                                    <td>联系地址:</td>
                                    <td colspan="3">
                                        <input type="text" class="notnull" id="contact_address" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>会诊医院:</td>
                                    <td><input type="text" class="notnull" id="apply_hospital" value="" /></td>
                                    <td>会诊科室:</td>
                                    <td>
                                        <input type="text" class="notnull" id="apply_department" value="" />
                                    </td>
                                    <td>会诊医生:</td>
                                    <td >
                                        <input type="text" class="notnull" id="apply_doctor" value="" />
                                    </td>
                                    <td>会诊日期:</td>
                                    <td>
                                        <input type="text" class="notnull datepicker" id="apply_date" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>申请医院:</td>
                                    <td><input type="text" class="notnull" readonly="readonly" id="hospital" value="{{$doctor.hospital}}" /></td>
                                    <td>申请科室:</td>
                                    <td>
                                        <input type="text" class="notnull" readonly="readonly" id="department" value="{{$doctor.department}}" />
                                    </td>
                                    <td>申请医生:</td>
                                    <td>
                                        <input type="text" class="notnull" readonly="readonly" id="doctor" value="{{$doctor.name}}" />
                                    </td>
                                    <td>申请日期:</td>
                                    <td class="small">
                                        {{$date}} {{$tac_str}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>病人姓名:</td>
                                    <td><input type="text" class="notnull"  id="name" value="" /></td>
                                    <td>年龄:</td>
                                    <td>
                                        <input type="number" class="notnull" id="age" value="" />
                                    </td>
                                    <td>性别:</td>
                                    <td>
                                        <select id="sexual" class="notnull">
                                            <option value="">请选择</option>
                                            <option value="M">男</option>
                                            <option value="F">女</option>
                                        </select>
                                    </td>
                                    <td>联系电话:</td>
                                    <td>
                                        <input type="text" class="notnull" id="tel" value="" />
                                    </td>
                                </tr>
                                <tr style="height:90px;">
                                    <td >既往史:</td>
                                    <td colspan="7">
                                        <textarea id="apply_history" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr style="height:90px;">
                                    <td>现病情:</td>
                                    <td colspan="7">
                                        <textarea id="apply_situation" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr style="height:90px;">
                                    <td>化验结果:</td>
                                    <td colspan="7">
                                        <textarea id="apply_report" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr style="height:90px;">
                                    <td>治疗经过:</td>
                                    <td colspan="7">
                                        <textarea id="apply_procedure" rows="3"></textarea>
                                    </td>
                                </tr>
                                <tr style="height:90px;">
                                    <td>初步诊断:</td>
                                    <td colspan="7">
                                        <textarea id="apply_first_result" rows="3"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px; margin-left: 15px;">
                        <div class="col-md-12" id="uploadlist">
                            <div class="row" >上传的附件：</div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <div class="row text-center">              
                    <button class="btn btn-success" id="btnUpload">上传资料</button>    
                    <button class="btn btn-success " id="btnSave">提交病历并预约</button>       
                    <button class="btn btn-warning " id="btnReturn">&nbsp;返回&nbsp;</button>      
                </div>
                <div class="row  text-center" style="">
                    <div class="col-md-12" style="color:red" id="tips">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#file_id").change(function () {
            var file_id = $(this).val();
            if (file_id != "0") {
                var json = {
                    "action": "loadfile",
                    "file_id": file_id
                };
                $.getJSON("{{$rootpath}}/Doctor/contract.php", json, function (data) {
                    $("#box #contact").val(data["contact_people"]);
                    $("#box #contact_tel").val(data["contact_tel"]);
                    $("#box #contact_address").val(data["contact_address"]);

                    $("#box #name").val(data["name"]);
                    $("#box #age").val(data["age"]);
                    $("#box #tel").val(data["tel"]);
                    $("#box #sexual").val(data["sexual"]);
                });
            }
        });
        
        $('.datepicker').datepicker({ format: "yyyy-mm-dd" });
        $("#btnReturn").click(function () {
            window.history.go(-1);
        });

        $("#btnSave").click(function () {
            var allnotnull=true;

            $("#box .notnull").each(function (index) {
                if($.trim($(this).val())==""){
                    allnotnull=false;
                    $(this).css("border-bottom","1px solid red");
                }else{
                    $(this).css("border-bottom","0px solid red");
                }
            });

            if(allnotnull==false){
                $("#tips").text("红色下划线处为必填项，请录入后再修改");
                return;
            }
            var uploadfiles = "";
            $("#box .uploadrow").each(function (index) {
                var filesavename = $(this).attr("filesavename");
                var filename = $(this).attr("filename");
                uploadfiles += "<||>" + filesavename + "<~>" + filename;
            });
            var json = {
                "action": "submit",
                "doctor_id":"{{$doctor.id}}",
                "file_id": $("#file_id").val(),
                "meeting_date": "{{$date}}",
                "tac":"{{$tac}}",
                "uploadfiles": uploadfiles
            };
            $("#box input,select,textarea").each(function (index) {
                var key = $(this).attr("id");
                var val = $(this).val();
                json[key] = val;
            });
            $("#btnSave").addClass("disabled");
            $("#input").addClass("disabled");
            $.post("{{$rootpath}}/Doctor/contract.php", json, function (data) {
                if (data == "FULLRESERVE") {
                    alert("您选择的预约时间已经约满，请返回重新选择");
                } else if (data == "RESERVEINWEEK") {
                    alert("您在预约时间的周期内已经进行了预约，请返回重新选择或者先对预约进行付款");
                }
                else if (data.substring(0, 5) == "RIGHT") {
                    var id = data.substring(5);
                    window.location.href = "{{$rootpath}}/Order/payment.php?id=" + id;
                } else {
                    alert(data);
                    }
                    $("#btnSave").removeClass("disabled");
                    $("#input").removeClass("disabled");
            });
        });
        $("#btnUpload").click(function () {
            callUpload("case");
        });
    });
</script>
{{include  file="$smarty_root/upload.html" }}
<script>
    afterFileUpload = function (filesavename, filename) {
        $("#uploadlist").append("<div class='row uploadrow' id='upload_" + filesavename.replace(".","")
            + "' filesavename='" + filesavename + "' filename='" + filename + "'>"
            + filename + " <a href='javascript:deleteuploadfile(\"" + filesavename.replace(".", "") + "\")')>删除</a>");
    };
    function deleteuploadfile(fileid) {
        $("#upload_" + fileid).remove();
    }
</script>
{{include  file="$smarty_root/footer.html" }}
