{{include  file="$smarty_root/header.html" }}
<link rel="stylesheet" media="screen" href="{{$rootpath}}/vendors/bootstrap-datepicker/css/datepicker.css">
<link rel="stylesheet" media="screen" href="{{$rootpath}}/css/datepicker.fixes.css">
<script type="text/javascript" src="{{$rootpath}}/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{$rootpath}}/vendors/html2canvas/dist/html2canvas.js"></script>
<style>
    #box {
        min-height:320px;
        background-color:#ffffff;
        border:solid 1px #cccccc;
        border-radius:4px;
    }
    #box .bar{
        margin-top:5px;
        margin-bottom:5px;
        margin-left:15px;
        margin-right:15px;
        background-color:#89B0D8;
        border:solid 1px #89B0D8;
        border-radius:4px;
        height:20px;
        color:#ffffff
    }
    #box .bar .bartitle{
        padding-left:25px;
    }
    #box .bar .dot{
        background-color:#ffffff;
        border:solid 1px #ffffff;
        border-radius:10px;
        height:10px;
        width:10px;
        color:#ffffff;
        margin-top:4px;
        margin-left:10px;
        float:left;
    }
    #box .title{
        font-size:20px;
        font-weight:bold;
        margin-top:20px;
    }
    #box #formtable{
        margin-top:7px;
        width:900px;
        margin-left:15px;
    }
    #box #formtable input{
        border:0px;
        border-color:#ffffff;
        text-align:center;
    }
        #box #formtable select {
            border: 0px;
            border-color: #ffffff;
            text-align: center;
        }
    #box #formtable td{
        width:110px;
        height:30px;
    }
    #box .fieldset{
        margin-top:10px;
    }
        #box .fieldname,.field {
            padding-left: 0px;
            padding-right: 0px;
        }
        #box input,select {
            padding-left: 5px;
            width: 80%;
            border: solid 1px #9DCDD2;
        }
        #box .result {
            padding-left: 45px;
            margin-top: 5px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        #box .content {
            padding-left: 75px;
            padding-right: 75px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2" style="padding-right:0px;">档案</div>
                            <div class="col-md-10">
                                <select id="file_id">
                                    <option value="0">--请选择--</option>
                                    {{foreach from=$files item=rs}}
                                    <option value="{{$rs.id}}">{{$rs.title}}</option>
                                    {{/foreach}}
                                </select>
                            </div>  
                        </div>
                    </div>         
                </div>
            </div>
            <div class="col-md-12 " style="margin-top:10px;">
                <div id="box">
                    <div class="row bar">
                        <div class="dot"></div>
                        <div class="small bartitle">家庭医生服务管理中心</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center title">
                            远程会诊报告单
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right small" style="padding-right:30px;">
                            * 请真实填写报告单中的信息
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <table id="formtable" border="1">
                                <tr>
                                    <td>会诊类别:</td>
                                    <td>
                                        <input type="text" readonly="readonly" id="category" value="单科会诊" />
                                    </td>
                                    <td>会诊方式:</td>
                                    <td>
                                        <input type="text" readonly="readonly" id="way" value="视频会诊" />
                                    </td>
                                    <td>专家要求:</td>
                                    <td>
                                        <input type="text" readonly="readonly" id="necessary" value="会诊方要求" />
                                    </td>
                                    <td>紧急程度:</td>
                                    <td>
                                        <select id="urgent">
                                            <option>普通</option>
                                            <option>紧急</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>申请人:</td>
                                    <td><input type="text" class="notnull" id="name" value="" /></td>
                                </tr>
                                <tr>
                                    <td>患者姓名:</td>
                                    <td><input type="text" class="notnull" id="contact" value="{{$info.contact}}" /></td>
                                    <td>联系电话:</td>
                                    <td><input type="text" class="notnull" id="contact_tel" value="{{$info.contact_tel}}" />
                                    </td>
                                    <td>申请时间:</td>
                                    <td>
                                        <input type="text" class="datepicker notnull" id="apply_date" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="notnull" id="contact" value="{{$info.contact}}" /></td>
                                </tr>
                                <tr>
                                    <td>会诊类别：</td>
                                    <td>{{$info.category}}</td>
                                    <td>会诊方式：</td>
                                    <td>{{$info.way}}</td>
                                    <td>紧急程度：</td>
                                    <td>{{$info.urgent}}</td>
                                </tr>
                                <tr>
                                    <td>专家要求:</td>
                                    <td colspan="3">{{$info.necessary}}</td>
                                    <td>会诊日期:</td>
                                    <td>{{$info.meeting_date}}</td>
                                </tr>
                                <tr style="height:60px;">
                                    <td >初步诊断:</td>
                                    <td colspan="5">{{$info.first_result}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <div class="col-md-8 text-left">
                                            服务方医院: {{$info.hospital_name}}
                                        </div>
                                        <div class="col-md-4 text-right">
                                            服务方科室: {{$info.department_name}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12 result" style="margin-top:20px;">
                                病情分析
                            </div>
                            <div class="col-md-12  content">
                                <p>{{$info.result}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 result" >
                                临床诊断
                            </div>
                            <div class="col-md-12  content">
                                <p>{{$info.checking}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 result" >
                                治疗方案
                            </div>
                            <div class="col-md-12  content">
                                <p>{{$info.solution}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 result">
                                注意事项
                            </div>
                            <div class="col-md-12  content">
                                <p>{{$info.caution}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:20px;">
                <div class="row text-center">                    
                    {{if $info.status=='T'}}
                    <button class="btn btn-success" id="btnUpload" >上传资料</button>                    
                    {{/if}}
                    {{if $info.status=='T'}}
                    <button class="btn btn-success " id="btnSave">修改报告</button>
                    {{/if}}                                        
                    {{if $info.status=='T'}}
                    <button class="btn btn-success " id="btnSubmit">提交报告</button>
                    {{/if}}                                        
                    {{if $info.status=='T'}}
                    <button class="btn btn-success " id="btnAbandon">作废报告</button>
                    {{/if}}                
                    {{if $info.status=='F'}}
                    <button class="btn btn-success " id="btnDownload">下载报告</button>                     
                    {{/if}}                               
                    {{if $info.status=='F'}}
                    <button class="btn btn-success " id="btnPrint">打印报告</button>                    
                    {{/if}}            
                </div>
                <div class="row  text-center" style="">
                    <div class="col-md-12" style="color:red" id="tips">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        
        
        $('.datepicker').datepicker({ format: "yyyy-mm-dd" });
        $("#btnReturn").click(function () {
            window.location.href = "{{$rootpath}}/Member/filelist.php";
        });
        $("#btnAbandon").click(function () {
            var caselist = "{{$info.id}}";
            
            if (confirm("确定要作废当前病历吗？")) {
                var json = {
                    "action": "submit",
                    "caselist": caselist
                };
                $("#btnAbandon").addClass("disabled");
                $.post("{{$rootpath}}/Member/caselist.php", json, function (data) {
                    if (data == "RIGHT") {
                        window.history.go(-1);
                    } else {
                        alert(data);
                    }

                    $("#btnAbandon").removeClass("disabled");
                });
            }
        });
        $("#btnSave").click(function () {
            var allnotnull=true;

            $("#box .notnull").each(function (index) {
                if($.trim($(this).val())==""){
                    allnotnull=false;
                    $(this).css("border-bottom","1px solid red");
                }else{
                    $(this).css("border-bottom","0px solid red");
                }
            });

            if(allnotnull==false){
                $("#tips").text("红色下划线处为必填项，请录入后再修改");
                return;
            }

            
            var json = {
                "action": "submit",
                "id":"{{$info.id}}"
            };
            $("#box input,select").each(function (index) {
                var key = $(this).attr("id");
                var val = $(this).val();
                json[key] = val;
            });
            $("#btnSave").addClass("disabled");
            $("#input").addClass("disabled");
            $.post("{{$rootpath}}/Member/case.php", json, function (data) {
                if (data == "RIGHT") {
                    window.location.href = "{{$rootpath}}/Member/case.php?id={{$info.id}}";
                } else {
                    alert(data);
                    }
                    $("#btnSave").removeClass("disabled");
                    $("#input").removeClass("disabled");
            });
        });
    });
</script>
{{include  file="$smarty_root/footer.html" }}
