{{include  file="$smarty_root/header.html" }}
<style>
    #upscoll .title{
        background-color:#4E719B;
            color:white;
    }
    #upscoll     .title .welcome {
            padding-left:40px;
            margin-top:10px;
            margin-bottom:10px;
        }
</style>
<div class="row">
    <div class="col-lg-12" id="upscoll">
        <div class="title">
            <div class="row">
                <div class="col-md-8 welcome" >
                    欢迎您， {{$USER.name}}医师！
                </div>
                <div class="col-md-2 welcome">
                    <button class="btn btn-xs btn-default" id="btnUpdateSchedule">更新时间表/Update</button>
                </div>
                <div class="col-md-2 welcome">
                    <button class="btn btn-xs btn-default" id="btnLogout">退出/Logout</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div style="margin-top:10px;" id="scheduletable">
            
        </div>
        <div style="margin-top:50px;">
            <div id="scheduledescrib" class="frame2 small" style="font-weight:bold;">
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-1 col-md-offset-1" style="background-color:#5E8160">&nbsp;</div>
                    <div class="col-md-9">                    
                        当前日期<br />
                        Today
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-1 col-md-offset-1" style="background-color:#96DA8D">&nbsp;</div>
                    <div class="col-md-9">
                        选中的日期<br />
                        Selected Date
                    </div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:20px;">
                    <div class="col-md-1 col-md-offset-1" style="background-color:#FEE666">&nbsp;</div>
                    <div class="col-md-9">
                        此日期有预约<br />
                        Reserved Date
                    </div>
                </div>
                <div class="row" style="margin-top:10px;margin-bottom:20px;">
                    <div class="col-md-1 col-md-offset-1" style="background-color:#B9AACA">&nbsp;</div>
                    <div class="col-md-9">                        
                        此日期休假<br />
                        Vacation Date
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #meetinglist{
            min-height:200px;
        }
    </style>
    <div class="col-md-6">
        <div id="meetinglist" class="frame" style="margin-top:10px;">
            <h4 class="text-center bold">今日会诊病人列表</h4>
            {{if $meetingcount>0}}
            <div class="row" style="margin-top:30px;margin-bottom:30px;">
                <div class="col-md-10 col-md-offset-1" >
                    {{foreach from=$meetinglist item=rs}}
                    <div class="col-lg-2 item" style="margin-left:0px;margin-right:0px;padding-left:3px;padding-right:3px;"
                         id="meet_{{$rs.id}}" oid="{{$rs.id}}" cid="{{$rs.case_id}}" starttime="{{$rs.meeting_time_start}}"
                         joinurl="{{$rs.meeting_panelistJoinUrl}}">
                        <a href="#">
                            {{if $rs.sexual=="M"}}
                            <img style="width:100%;" src="{{$rootpath}}/images/sex_M.png" />
                            {{else}}
                            <img src="{{$rootpath}}/images/sex_F.png" />
                            {{/if}}
                            <p class="small text-center">{{$rs.meeting_time_start}}</p>
                        </a>
                        <a class="text-center col-lg-12 small" href="{{$rootpath}}/User/contract.php?id={{$rs.case_id}}" target="_blank">病历</a>
                        <a class="text-center col-lg-12 small casewait hide" style="color:red;padding:0px;" href="{{$rootpath}}/User/case.php?id={{$rs.case_id}}" target="_blank">待上传</a>
                    </div>
                    {{/foreach}}
                </div>
            </div>
            {{else}}
            <p style="margin-top:30px;margin-bottom:30px;padding-left:30px;">今日暂无会诊预约。</p>
            {{/if}}
        </div>
        <div id="meetinginfo" class="frame" style="margin-top:20px;" order_id="">
        </div>
    </div>
    <style>
        #orderqueue {
            font-weight:bold;
        }
        #orderqueue .title{
            color:#3479D0;
        }
        #orderqueue .btn-success{
            background-color:#8EBB43;
            border-color:#8EBB43;
        }
#orderqueue .btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active {
  background-color: #7AA13A;
  border-color: #7AA13A;
}
    </style>
    <div class="col-md-3">
        <div id="orderqueue" class="frame5" style="margin-top:10px;">
            <div class="row title" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-md-10 col-md-offset-1 text-center">
                    当前等待会诊人数：<span id="queuecount" style="color:red;">{{$meetingcount}}</span>
                </div>
                <div class="col-md-10 col-md-offset-1 text-center">
                    Number of patients waiting online
                </div>
            </div>
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <button class="btn btn-success btn-block" id="btnOpenVideo"><i class="glyphicon glyphicon-list-alt"></i> &nbsp;打开视频会诊/<br />Open Video Panel</button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-md-12 text-center small">
                    <p>下一次预约间隔时间：<br />
                    Reminder time with next appointment：</p>
                    <p id="remindertime">
                        00:00:00
                    </p>
                </div>
            </div>
        </div>
        <style>
            #meetingrecord {
                font-weight: bold;
            }

                #meetingrecord .title {
                font-weight: bold;
                    color: #3479D0;
                }
        #meetingrecord .btn-success{
            background-color:#8EBB43;
            border-color:#8EBB43;
        }
#meetingrecord .btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active {
  background-color: #7AA13A;
  border-color: #7AA13A;
}

        </style>
        <div id="meetingrecord" class="frame5" style="margin-top:22px;">
            <div class="row">
                <div class="col-md-10 text-center col-md-offset-1" style="margin-top:20px;margin-bottom:20px;">
                    <h4 class="title">会诊记录</h4>
                    <button class="btn btn-success btn-block" style="margin-top:10px;" id="btnTodayMeeting">今日会诊</button>
                    <button class="btn btn-success btn-block" style="margin-top:10px;" id="btnAfterMeeting">预约名单</button>
                    <button class="btn btn-success btn-block" style="margin-top:10px;" id="btnBeforeMeeting">既往会诊记录</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var joinUrl = "";
    var c_id = "";
    var dialog_case_id = "";
    $(document).ready(function () {
        $("#btnUpdateSchedule").click(function () {
            window.location.href = "{{$rootpath}}/User/scheduleupdate.php";
        });
        $("#btnLogout").click(function () {
            window.location.href = "{{$rootpath}}/User/logout.php";
        });
        $("#meetinginfo").hide();
        setInterval("setOrderQueue()", 1000);
        setInterval("refreshOrderType()", 180000);
        LoadSchedule();
        setOrderQueue();
        refreshOrderType();
        $("#btnTodayMeeting").click(function () {
            var t = new Date().Format("yyyy-MM-dd");
            openMeetingList(t, t);
        });
        $("#btnAfterMeeting").click(function () {
            var curDate = new Date();
            var t = new Date((curDate/1000+86400)*1000).Format("yyyy-MM-dd");
            openMeetingList(t, "");
        });
        $("#btnBeforeMeeting").click(function () {
            var curDate = new Date();
            var t = new Date((curDate / 1000 - 86400) * 1000).Format("yyyy-MM-dd");
            openMeetingList("", t);
        });
        $("#btnOpenVideo").click(function () {
            if (joinUrl.trim() == "") {
                alert("当前暂无可用会诊");
            }
            dialog_case_id = cid;
            confirmDialog("完成视频会诊", "如果你已经完成视频会诊，请点击确认按钮前往上传病例报告", gotoOpenReport);
            window.open(joinUrl);
        });
    });
    function gotoOpenReport() {
        var url = "{{$rootpath}}/User/case.php?setm=Y&id=" + dialog_case_id;
        window.open(url);
    }
    function openMeetingList(from, to) {
        window.location.href = "{{$rootpath}}/User/meetinglist.php?from="+from+"&to="+to;
    }
    Date.prototype.Format = function (fmt) { //author: meizz 
        var o = {
            "M+": this.getMonth() + 1, //月份 
            "d+": this.getDate(), //日 
            "h+": this.getHours(), //小时 
            "m+": this.getMinutes(), //分 
            "s+": this.getSeconds(), //秒 
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
            "S": this.getMilliseconds() //毫秒 
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function refreshOrderType() {
        $.post("{{$rootpath}}/User/notreportorder.php", function (data) {
            var orderstrarr = data.split(",");
            $("#meetinglist .casewait").addClass("hide");
            for (i = 0; i < orderstrarr.length; i++) {
                var order_id = orderstrarr[i];
                if (order_id.trim() != "") {
                    var idstr = "#meet_" + order_id + " .casewait";
                    $(idstr).removeClass("hide");
                }
            }
        });
    }
    function setOrderQueue() {
        var t = new Date().Format("hh:mm");
        var rt = new Date().Format("hh:mm:ss");
        var last = "";
        var pastcount = 0;
        var temp = "";
        var order_id = "";
        $("#meetinglist .item").each(function () {
            var start = $(this).attr("starttime");
            var oid = $(this).attr("oid");
            if (start > t) {
                last = start;
                order_id = oid;
                joinUrl = $(this).attr("joinUrl");
                cid = $(this).attr("cid");
                return false;
            } else {
                pastcount++;
                temp += start;
            }
        });
        $("#queuecount").text($("#meetinglist .item").length - pastcount);
        var m_order_id = $("#meetinginfo").attr("order_id");
        if (order_id == "") {
            $("#meetinginfo").hide();
        } else {
            if (order_id != m_order_id) {
                $("#meetinginfo").attr("order_id",order_id);
                var json = { id: order_id };
                $("#meetinginfo").load("{{$rootpath}}/User/meetingdetail.php", json, function (data) {
                    $("#meetinginfo").show();
                });
            }
        }
        if (last != "") {
            var last_t = last.split(":");
            var cur_t = rt.split(":");
            var last_second = parseInt(last_t[0]) * 3600 + parseInt(last_t[1]) * 60;
            var cur_second = parseInt(cur_t[0]) * 3600 + parseInt(cur_t[1]) * 60 + parseInt(cur_t[2]);
            last_second = last_second - cur_second;
            var h = parseInt(last_second / 3600);
            last_second = last_second - h * 3600;
            var m = parseInt(last_second / 60);
            last_second = last_second - m * 60;
            var s = last_second;
            h = h.toString().length == 1 ? "0" + h : h;
            m = m.toString().length == 1 ? "0" + m : m;
            s = s.toString().length == 1 ? "0" + s : s;
            $("#remindertime").text(h + ":" + m + ":" + s);
            $("#btnOpenVideo").removeClass("disabled");
        } else {
            $("#remindertime").text("--:--:--");
            joinUrl = "";
            $("#btnOpenVideo").addClass("disabled");
        }
    }
    function LoadSchedule(year, month) {
        var json = {
            year: year,
            month: month
        };
        $("#scheduletable").load("{{$rootpath}}/User/schedule.php", json, function () {
            $("#schedule #prev_month").click(function () {
                var year = $("#schedule").attr("year");
                var month = $("#schedule").attr("month");
                if (month == 1) {
                    month = 12;
                    year--;
                } else {
                    month--;
                }
                LoadSchedule(year, month);
            });
            $("#schedule #next_month").click(function () {
                var year = $("#schedule").attr("year");
                var month = $("#schedule").attr("month");
                if (month == 12) {
                    month = 1;
                    year++;
                } else {
                    month++;
                }
                LoadSchedule(year, month);
            });
            $("#schedule .meeting").click(function () {

                $("#schedule .meeting").removeClass("selected");
                $(this).addClass("selected");

                var year = $("#schedule").attr("year");
                var month = $("#schedule").attr("month");
                var day = $(this).text();
                var date = year + "-" + month + "-" + day;

            });
        });
    }
</script>

{{include  file="$smarty_root/footer.html" }}