<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统管理</name>
      <name_zh-cn>系统管理SysAdmin</name_zh-cn>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <name_zh-cn>关于Aboutus</name_zh-cn>
          <url>/Admin/about.php</url>
        </submenu>
        <submenu>
          <id>dashboard</id>
          <name>控制台</name>
          <url>/Admin/dashboard.php</url>
        </submenu>
        <submenu>
          <id>user_list</id>
          <name>用户列表</name>
          <url>/Admin/user.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>user_add</id>
          <name>用户新增</name>
          <url>/Admin/user.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>website</module>
      <name>日常管理</name>
      <submenus>
        <submenu>
          <id>base</id>
          <name>网站设置</name>
          <url>/Website/base.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>general_list</id>
          <name>页面文字列表</name>
          <url>/Website/general.php</url>
        </submenu>
        <submenu>
          <id>general_add</id>
          <name>页面文字新增</name>
          <url>/Website/general.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>notice_add</id>
          <name>最新动态</name>
          <url>/Website/notice.php?action=edit</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>baseinfo</module>
      <name>基础数据管理</name>
      <submenus>
        <submenu>
          <id>hospital_list</id>
          <name>医院列表</name>
          <url>/BaseInfo/hospital.php</url>
        </submenu>
        <submenu>
          <id>hospital_add</id>
          <name>医院新增</name>
          <url>/BaseInfo/hospital.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>college_list</id>
          <name>专科列表</name>
          <url>/BaseInfo/college.php</url>
        </submenu>
        <submenu>
          <id>college_add</id>
          <name>专科新增</name>
          <url>/BaseInfo/college.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>department_list</id>
          <name>科室列表</name>
          <url>/BaseInfo/department.php</url>
        </submenu>
        <submenu>
          <id>department_add</id>
          <name>科室新增</name>
          <url>/BaseInfo/department.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>category_list</id>
          <name>疾病大类列表</name>
          <url>/BaseInfo/category.php</url>
        </submenu>
        <submenu>
          <id>category_add</id>
          <name>疾病大类新增</name>
          <url>/BaseInfo/category.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>subcategory_list</id>
          <name>疾病小类列表</name>
          <url>/BaseInfo/subcategory.php</url>
        </submenu>
        <submenu>
          <id>subcategory_add</id>
          <name>疾病小类新增</name>
          <url>/BaseInfo/subcategory.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>doctor</module>
      <name>医生管理</name>
      <submenus>
        <submenu>
          <id>doctor_list</id>
          <name>医生列表</name>
          <url>/Doctor/doctor.php</url>
        </submenu>
        <submenu>
          <id>doctor_add</id>
          <name>医生新增</name>
          <url>/Doctor/doctor.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorrecom_add</id>
          <name>推荐医生管理</name>
          <url>/Doctor/doctorrecom.php?action=edit</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
  </mainmenus>
</root>