
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-12" >
                    <div id="footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2  text-center small">
                                <div class="row">
                                    <div class="col-md-5">
                                        主管单位：{{$SITEINFO.department}}
                                    </div>
                                    <div class="col-md-7">
                                        技术支持：{{$SITEINFO.techsupport}}
                                    </div>
                                </div>
                                <div class="row" style="margin-top:7px;">
                                    <div class="col-md-6">
                                        地址：{{$SITEINFO.address}}
                                    </div>
                                    <div class="col-md-3">
                                        电话：{{$SITEINFO.tel}}
                                    </div>
                                    <div class="col-md-3">
                                        {{$SITEINFO.icp}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
