
            </div>
            <div class="row" >
                <div class="col-md-12" >
                    <div id="footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2  text-center small">
                                <div class="row">
                                    <div class="col-md-5">
                                        主管单位：国家科学数据共享平台
                                    </div>
                                    <div class="col-md-7">
                                        技术支持：国家人口健康科学数据共享平台（地方服务中心）
                                    </div>
                                </div>
                                <div class="row" style="margin-top:7px;">
                                    <div class="col-md-6">
                                        地址：北京市海淀区太平路27号网格中心(100850)
                                    </div>
                                    <div class="col-md-3">
                                        电话：010-68277769
                                    </div>
                                    <div class="col-md-3">
                                        京ICP备09012887号
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
