<!DOCTYPE html>
<html >
    <head>
        <title>{{$Title}}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{{$SITEINFO.website_name}}</title>
        <meta name="keywords" content="{{$SITEINFO.seo_keywords}}">
        <link rel="shortcut icon" type="image/x-icon" href="{{$uploadpath}}/fav/{{$SITEINFO.favfile}}">
        <meta name="description" content="{{$SITEINFO.seo_description}}">
        <!-- Bootstrap -->
        <link rel="stylesheet" media="screen" href="{{$rootpath}}/css/bootstrap.min.css">
        <script type="text/javascript" src="{{$rootpath}}/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="{{$rootpath}}/js/bootstrap.js"></script>
        <link rel="stylesheet" media="screen" href="{{$rootpath}}/css/style.css">
        <script type="text/javascript" src="{{$rootpath}}/js/common.js"></script>
        <script src="{{$rootpath}}/welive/welive.php" language="javascript"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" src="js/html5shiv.js"></script>
           <script type="text/javascript" src="js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body >
        <div id="mainbody">


            {{include  file="$smarty_root/nav.html" }}


            <div class="row" id="logobar">
                <div class="col-md-2" id="logo" >
                    <img src="{{$rootpath}}/images/logo.png" />
                </div>
                <div class="col-md-10" id="title">
                    <img src="{{$rootpath}}/images/title.png" style="height:100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    {{include  file="$smarty_root/menu.html" }}

                </div>
            </div>
            <div  id="contentbody" >

        