{{include  file="$smarty_root/header.html" }}

<script type="text/javascript" src="{{$rootpath}}/vendors/Jssor.Slider.FullPack/js/jssor.slider.mini.js"></script>
<style>
    #notice{
        height:250px;
    }
    #notice h4{
        color:#2468BF;
        font-weight:bold;
    }
    .silder{
        top: 0px; 
        left: 0px; 
        width: 720px;
        height: 250px;
        overflow: hidden;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <div class="col-md-12 frame" id="notice">
            <h4 class="text-center">最新动态</h4>
            <p>{{$notice}}</p>
        </div>
    </div>
    <div class="col-md-9">
        <div id="slider1_container" class="row silder" style="position: relative;  ">
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
                <div style="position: absolute; display: block; background: url({{$rootpath}}/vendors/Jssor.Slider.FullPack/img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
            </div>
            <div u="slides" class="silder" style="cursor: move; position: absolute; ">
                {{foreach from=$bannerlist item=rs}}
                <div>
                    <img u="image" src="{{$uploadpath}}/banner/{{$rs.pic}}" />
                    <div u="thumb"><a style="color:#fff;font-weight:bold;" href="{{if $rs.link==" "}}#{{else}}{{$rs.link}}{{/if}}">{{$rs.title}}</a></div>
                </div>
                {{/foreach}}
            </div>
            <div u="thumbnavigator" style="position: absolute; bottom: 0px; left: 15px; height:60px; width:705px;">
                <div style="filter: alpha(opacity=40); opacity:0.4; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
                <!-- Thumbnail Item Skin Begin -->
                <div u="slides">
                    <div u="prototype" style="position: absolute; width: 720px; height: 60px; top: 0; left: 0;">
                        <div u="thumbnailtemplate" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; font-family: verdana; font-weight: normal; color:#fff; line-height: 45px; font-size:20px; padding-left:10px;"></div>
                    </div>
                </div>
                <!-- Thumbnail Item Skin End -->
            </div>

            <style>
                .jssorb05 {
                    position: absolute;
                }

                    .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                        position: absolute;
                        /* size of bullet elment */
                        width: 16px;
                        height: 16px;
                        background: url({{$rootpath}}/vendors/Jssor.Slider.FullPack/img/b05.png) no-repeat;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    .jssorb05 div {
                        background-position: -7px -7px;
                    }

                        .jssorb05 div:hover, .jssorb05 .av:hover {
                            background-position: -37px -7px;
                        }

                    .jssorb05 .av {
                        background-position: -67px -7px;
                    }

                    .jssorb05 .dn, .jssorb05 .dn:hover {
                        background-position: -97px -7px;
                    }
            </style>
            <div u="navigator" class="jssorb05" style="bottom : 5px; right: 6px;">
                <div u="prototype"></div>
            </div>
            <style>
                .jssora12l, .jssora12r {
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 46px;
                    cursor: pointer;
                    background: url({{$rootpath}}/vendors/Jssor.Slider.FullPack/img/a12.png) no-repeat;
                    overflow: hidden;
                }

                .jssora12l {
                    background-position: -16px -37px;
                }

                .jssora12r {
                    background-position: -75px -37px;
                }

                .jssora12l:hover {
                    background-position: -136px -37px;
                }

                .jssora12r:hover {
                    background-position: -195px -37px;
                }

                .jssora12l.jssora12ldn {
                    background-position: -256px -37px;
                }

                .jssora12r.jssora12rdn {
                    background-position: -315px -37px;
                }
            </style>
            <span u="arrowleft" class="jssora12l" style="top: 100px; left: 15px;">
            </span>
            <span u="arrowright" class="jssora12r" style="top: 100px; right: 0px;">
            </span>
        </div>
    </div>
</div>


<script>

    jQuery(document).ready(function ($) {

        var _SlideshowTransitions = [
        //Fade
        { $Duration: 1200, $Opacity: 2 }
        ];

        var options = {
            $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
            $AutoPlayInterval: 3000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
            $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

            $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
            $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
            $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
            //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
            //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
            $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

            $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
            },

            $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            },

            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
            },
            $ThumbnailNavigatorOptions: {
                $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                $ActionMode: 0,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
            }
        };
        var jssor_slider1 = new $JssorSlider$("slider1_container", options);

        //responsive code begin
        //you can remove responsive code if you don't want the slider scales while window resizes
        function ScaleSlider() {

            window.setTimeout(ScaleSlider, 30);
        }
        ScaleSlider();

    });
</script>
<style>
    #dieasesearch h3 {
        color: #2468BF;
    }
    #dieasesearch .itemup {
        padding-left: 0;
        padding-right: 0;
    } 
    #dieasesearch .item {
        text-align: center;
        background-image: url({{$rootpath}}/images/indexitem.png);
        height: 26px;
        margin-left: 3px;
        margin-right: 3px;
        line-height:26px;
    }
</style>
<div class="row" style="margin-top:10px;">
    <div class="col-lg-12 ">
        <div class="col-lg-12 frame" id="dieasesearch">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="margin-top:5px;">按科室找医生</h3>
                </div>
                <div class="col-md-5 col-md-offset-1" style="padding-top:5px;">
                    <input type="text" class="col-md-10"  placeholder="输入疾病或科室,在千名执业医生专家中搜" >
                    <button class="btn btn-default col-md-2" style="height:25px;padding-top:1px;width:50px;margin-left:9px;">搜索</button>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row">
                <div class="col-md-12">
                    {{foreach from=$collegelistgroup item=rs}}
                    <div class="col-lg-3" style="margin-top:5px;">
                        <div class="row">
                            {{if $rs.0.name!=""}}
                            <div class="col-md-6 itemup">
                                <a href="{{$rootpath}}/college.php?college_id={{$rs.0.id}}">
                                    <div class="item">{{$rs.0.name}}</div>
                                </a>
                            </div>
                            {{/if}}
                            {{if $rs.1.name!=""}}
                            <div class="col-md-6 itemup ">
                                <a href="{{$rootpath}}/college.php?college_id={{$rs.1.id}}">
                                    <div class="item">{{$rs.1.name}}</div>
                                </a>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    {{/foreach}}
                </div>
            </div>
            <div style="height:10px;display:block;"></div>
        </div>
    </div>
</div>


<style>
    #doctorsearch h3 {
        color: #2468BF;
    }

</style>
<div class="row" style="margin-top:10px;">
    <div class="col-lg-12 ">
        <div class="col-lg-12 frame" id="doctorsearch">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="margin-top:5px;">签约专家推荐</h3>
                </div>
                <div class="col-md-5 col-md-offset-1" style="padding-top:5px;">
                    <input type="text" class="col-md-10" placeholder="输入医生名字,在千名执业医生专家中搜">
                    <button class="btn btn-default col-md-2" style="height:25px;padding-top:1px;width:50px;margin-left:9px;">搜索</button>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-12">
                    {{foreach from=$doctor_list item=rs}}
                    <div class="col-md-4">
                        <div class="row">
                            <img class="col-md-4" src="{{$uploadpath}}/doctor/{{$rs.photo}}" />
                            <div class="col-md-8">
                                <span>{{$rs.name}}</span>
                                <p>{{$rs.content}}</p>
                            </div>
                        </div>
                    </div>
                    {{/foreach}}
                </div>
                <div class="col-md-12" >
                    {{foreach from=$doctor_list item=rs}}
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-4">
                                <p class="text-right"><a href="{{$rootpath}}/doctorinfo.php?id={{$rs.id}}">>>详细信息</a></p>
                            </div>
                        </div>
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    #hospitalsearch h3 {
        color: #2468BF;
    }
</style>
<div class="row" style="margin-top:10px;">
    <div class="col-lg-12 ">
        <div class="col-lg-12 frame" id="hospitalsearch">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="margin-top:5px;margin-bottom:15px;">合作医院</h3>
                </div>
                <div class="col-md-5 col-md-offset-1" style="padding-top:5px;">
                    <input type="text" class="col-md-10" placeholder="输入医院,获取所在医院的医生">
                    <button class="btn btn-default col-md-2" style="height:25px;padding-top:1px;width:50px;margin-left:9px;">搜索</button>
                </div>
            </div>
            <div class="hr"></div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-12">
                    {{foreach from=$hospital_list item=rs}}
                    <img class="col-md-2" src="{{$uploadpath}}/hospital/{{$rs.photo}}" />
                    {{/foreach}}
                </div>
            </div>
        </div>
    </div>
</div>





{{include  file="$smarty_root/footer.html" }}