
<div id="menu">
    <div class="row">
        <div class="col-lg-12" id="menucenter">
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/index.php">
                    <img src="{{$rootpath}}/images/home.png" />
                    <div>首页</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/Doctor/doctorlist.php">
                    <img src="{{$rootpath}}/images/doctor.png" />
                    <div>家庭医生</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/Hospital/hospitallist.php">
                    <img src="{{$rootpath}}/images/hospital.png" />
                    <div>合作医院</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/Hospital/clinic.php">
                    <img src="{{$rootpath}}/images/clinic.png" />
                    <div>远程诊室</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/Service/doctorlist.php">
                    <img src="{{$rootpath}}/images/contract.png" />
                    <div>签约服务</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/Member/info.php">
                    <img src="{{$rootpath}}/images/family.png" />
                    <div>家庭信息</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="http://jwyk.org" target="_blank">
                    <img src="{{$rootpath}}/images/baike.png" />
                    <div>健康百科</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <a href="http://www.jwyk.org" target="_blank">
                    <img src="{{$rootpath}}/images/aboutus.png" />
                    <div>关于我们</div>
                </a>
            </div>
        </div>
    </div>
</div>