
<div id="menu">
    <div class="row">
        <div class="col-lg-12" id="menucenter">
            <div class="col-md-1 menuitem text-center">
                <a href="{{$rootpath}}/index.php">
                    <img src="{{$rootpath}}/images/home.png" />
                    <div>首页</div>
                </a>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/doctor.png" />
                <div>家庭医生</div>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/hospital.png" />
                <div>合作医院</div>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/contract.png" />
                <div>签约服务</div>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/family.png" />
                <div>家庭信息</div>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/query.png" />
                <div>在线咨询</div>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/baike.png" />
                <div>健康百科</div>
            </div>
            <div class="col-md-1 menuitem text-center">
                <img src="{{$rootpath}}/images/aboutus.png" />
                <div>关于我们</div>
            </div>
        </div>
    </div>
</div>