<style >
    #category{

        padding-top:25px;
        padding-bottom:25px;

    }
    #category div {
        color: #346C98;
        font-weight:bold;
    }
    .categoryitem{
        cursor:pointer;
    }
    .subcategory{
        cursor:pointer;
        font-weight:normal;
        font-size:85%;
    }
</style>
<script>
    $(document).ready(function () {
        $(".categoryitem").click(function () {
            var category_id = $(this).attr("category_id");
            $(".subcategory").addClass("hide");
            $(".categoryitem_" + category_id).removeClass("hide");
        });
    });
</script>
<div class="frame" id="category">
    {{foreach from=$category item=rs}}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 categoryitem" category_id="{{$rs.id}}"><span class="spango">+</span> {{$rs.name}}</div>
        {{foreach from=$rs.subcategory item=subrs}}
        <div class="col-md-7 col-md-offset-3 categoryitem_{{$rs.id}} subcategory hide">
            <a href="{{$rootpath}}/{{$searchurl}}?search={{$subrs.name}}">{{$subrs.name}}</a>
        </div>
        {{/foreach}}
    </div>
    {{/foreach}}
</div>