{{include  file="$smarty_root/header.html" }}
<style>
    #box {
        margin-top: 10px;
        min-height: 320px;
    }
        #box .bar {
            background: #89B0D8;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left:10px;
        }
</style>
<div class="row">
    <div class="col-md-3 ">
        {{include  file="$smarty_root/Member/menu.html" }}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12 " id="box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row bar" style="margin-right:5px;">
                            <div class="col-md-4 ">
                                档案标题
                            </div>
                            <div class="col-md-4 ">
                                完成度
                            </div>
                            <div class="col-md-4 text-right">
                                更新日期
                            </div>
                        </div>
                    </div>
                </div>
                {{foreach from=$filelist item=rs}}
                <div class="row" style="margin-top:5px;">
                    <div class="col-md-4">
                        <input type="checkbox" class="filecheck" fileid="{{$rs.id}}" /> <a href="{{$rootpath}}/Member/file.php?id={{$rs.id}}">{{$rs.title}}</a>
                    </div>
                    <div class="col-md-4">
                        {{$rs.finish}}%
                    </div>
                    <div class="col-md-4 text-right" style="padding-right:30px;">
                        {{$rs.updated_date}}
                    </div>
                </div>
                {{/foreach}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" id="selectall"  />全选/反选
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-1">
                <button class="btn " id="btnNewFile"  >上传</button>
            </div>
            <div class="col-md-1">
                <button class="btn " id="btnDelete">删除</button>
            </div>
        </div>
        <div class="row" style="margin-top:5px;">
            <div class="col-md-12" style="color:red" id="tips">
                
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#selectall").click(function () {
            var check = $(this).prop("checked");
            $(".filecheck").each(function () {
                $(this).prop("checked", check);
            });
        });
        $("#btnNewFile").click(function () {
            window.location.href = "{{$rootpath}}/Member/file.php";
        });
        $("#btnDelete").click(function () {
            var filelist = "";
            $(".filecheck").each(function () {
                if ($(this).prop("checked")) {
                    filelist += "," + $(this).attr("fileid");
                }
            });
            if (filelist == "") {
                $("#tips").text("请至少选择一个档案进行删除");
                return;
            }
            if (confirm("确定要删除选中的档案吗？")) {
                filelist = "0" + filelist;

                var json = {
                    "action": "submit",
                    "filelist": filelist
                };
                $("#btnDelete").addClass("disabled");
                $.post("{{$rootpath}}/Member/filelist.php", json, function (data) {
                    if (data == "RIGHT") {
                        location.reload();
                    } else {
                        alert(data);
                    }

                    $("#btnDelete").removeClass("disabled");
                });
            }
        });
    });
</script>
{{include  file="$smarty_root/footer.html" }}
