{{include  file="$smarty_root/header.html" }}
<style>
    #infobox {
        margin-top:30px;
    }
    #infobox .fieldname{
        text-align:right;
        margin-right:0px;
    }
    #infobox .field{
        padding-right:0px;
        padding-left:0px;
    }
    #infobox .field input{
        padding-left:5px;
        width:40%;
        border:solid 1px #9DCDD2;
    }
    #infobox .row{
        margin-top:10px;
    }
</style>
<div class="row">
    <div class="col-md-3 ">
        {{include  file="$smarty_root/Member/menu.html" }}
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12" id="infobox">
                <div class="row">
                    <div class="col-md-2 fieldname">真实姓名：</div>
                    <div class="col-md-10 field">
                        <input id="member_name" maxlength="10" type="text" value="{{$base_info.name}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">身份证号码：</div>
                    <div class="col-md-10 field">
                        <input id="member_identity" maxlength="18" type="text" value="{{$base_info.identity}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">民族：</div>
                    <div class="col-md-10 field">
                        <input id="member_nation" maxlength="10" type="text" value="{{if $base_info.nation!=""}}{{$base_info.nation}}汉{{else}}{{/if}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">出生年月：</div>
                    <div class="col-md-10 field">
                        <input id="member_birth" maxlength="14" type="text" placeholder="年-月-日，例如2006-8-16" value="{{$base_info.birth}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">邮箱：</div>
                    <div class="col-md-10 field">
                        <input id="member_name" disabled="disabled" maxlength="10" type="text" value="{{$MEMBER.email}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">手机：</div>
                    <div class="col-md-10 field">
                        <input id="member_mobile" maxlength="11" type="text" value="{{$MEMBER.mobile}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">座机：</div>
                    <div class="col-md-10 field">
                        <input id="member_tel" maxlength="15" type="text" value="{{$base_info.tel}}" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 fieldname">通讯地址：</div>
                    <div class="col-md-10 field">
                        <input id="member_address" maxlength="50" type="text" value="{{$base_info.address}}" />
                    </div>
                </div>
                <div class="row" style="margin-top:40px;">
                    <div class="col-md-2 fieldname">
                        <button class="btn btn-success">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

    });
</script>
{{include  file="$smarty_root/footer.html" }}
