{{include  file="$smarty_root/header.html" }}
<style>
    .tips{
        color:red;
    }
    .righttips {
        color: green;
    }
    #logininfo .field{
        padding-left:0px;
        padding-right:5px;
    }
    #logininfo input {
        width:95%;
        padding-left:5px;
    }
    #logininfo .btn-success {
        background-color: #71B3CC;
        border-color: #71B3CC;
    }
</style>
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top:30px;">
        <div class="frame4" style="margin-left:auto;margin-right:auto;" id="logininfo" >
            <div class="row title">
                <span>登&nbsp;&nbsp;&nbsp;录</span>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-3 field text-right">用户名：</div>
                <div class="col-md-4 field"><input type="text" id="loginname" size="20" autofocus /></div>
                <div class="col-md-5 field tips small" id="loginnametips"></div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3 field  text-right">密码：</div>
                <div class="col-md-4 field "><input type="password" id="password" size="20" /></div>
                <div class="col-md-5  field tips small" id="passwordtips"></div>
            </div>
            <div class="row" style="margin-top:40px;">
                <div class="col-md-3 field  text-right"></div>
                <div class="col-md-2 field">
                    <button class="btn btn-success" id="btnSubmit">登录</button>
                </div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-3 field  text-right"></div>
                <div class="col-md-9 field small">
                    <a href="{{$rootpath}}/Member/reg.php">新用户快速注册</a> 
                    <a href="{{$rootpath}}/Member/forget.php">忘记密码?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
                var valid = true;
                if (checkLoginname() == false) {
                    valid = false;
                }
                if (checkPassword() == false) {
                    valid = false;
                }
                if (valid == false) {
                    return;
                }
                var loginname = $("#loginname").val();
                var password = $("#password").val(); 
               
                var json = {
                    "action": "submit",
                    "loginname": loginname,
                    "password": password
                };
                $("#btnSubmit").addClass("disabled");
                $("#input").addClass("disabled");
                $.post("{{$rootpath}}/Member/login.php", json, function (data) {
                    if (data == "NO_MEMBER") {
                        showErrorTips("loginnametips", "找不到此用户名");
                    } else if (data == "INACTIVE_MEMBER") {
                        showErrorTips("loginnametips", "用户已被禁用，请联系管理员");
                    } else if (data == "PASSWORD_INCORRECT") {
                        showErrorTips("passwordtips", "密码错误，请重新错误");
                    } else if (data.substring(0,11) == "NEED_VERIFY") {
                        var email = data.substring(11);
                        window.location.href = "{{$rootpath}}/Member/reg_sent.php?email=" + email;
                    } else if (data == "RIGHT") {
                        document.location.href = "{{$rootpath}}/Member/info.php";
                    } else {
                        alert(data);
                    }
                    $("#btnSubmit").removeClass("disabled");
                    $("#input").removeClass("disabled");
                });
        });
        $("#loginname").blur(function () {
            checkLoginname();
        });
        function checkLoginname(){
            var loginname = $("#loginname").val();
            if (loginname.length < 6) {
                showErrorTips("loginnametips", "请输入至少六位字符");
                return false;
            } else {
                showErrorTips("loginnametips", "");
            }
            return true;
        }
        $("#password").blur(function () {
            checkPassword();
        });
        function checkPassword() {
            var password = $("#password").val();
            if (password.length < 6) {
                showErrorTips("passwordtips", "请输入至少六位字符");
                return false;
            } else {
                showErrorTips("passwordtips", "");
            }
            return true;
        }
    });
    function showErrorTips(id, msg) {
        $("#" + id).removeClass("righttips");
        $("#" + id).text(msg);
    }
    function showCorrectTips(id, msg) {
        $("#" + id).addClass("righttips");
        $("#" + id).text(msg);
    }
</script>




{{include  file="$smarty_root/footer.html" }}