{{include  file="$smarty_root/header.html" }}
<style>
    .tips {
        color: red;
    }

    .righttips {
        color: green;
    }

    #logininfo .field {
        padding-left: 0px;
        padding-right: 5px;
    }

    #logininfo input {
        width: 95%;
        padding-left:5px;
    }
</style>
<div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top:30px;">
        <div class="frame4" style="margin-left:auto;margin-right:auto;" id="logininfo">
            <div class="row title">
                <span>重置密码</span>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-11 field col-md-offset-1 small" style="color:gray">你正在找回的账号是: {{$loginname}}</div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3 field  text-right">新密码：</div>
                <div class="col-md-4 field "><input type="password" id="password" maxlength="20" /></div>
                <div class="col-md-5  field tips small" id="passwordtips"></div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-3 field  text-right">确认新密码：</div>
                <div class="col-md-4 field "><input type="password" id="repassword" /></div>
                <div class="col-md-5  field tips small" id="repasswordtips"></div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-3 field  text-right"></div>
                <div class="col-md-2 field">
                    <button class="btn btn-success" id="btnSubmit">确定</button>
                </div>
                <div class="col-md-2 field">
                    <button class="btn btn-success" id="btnBack">返回</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#verifypic").click(function () {
            $("#verifypic").attr("src", "{{$rootpath}}/verifycode.php?rn="+Math.random());
        });
        $("#btnBack").click(function () {
            window.location.href = "{{$rootpath}}/Member/login.php";
        });
        $("#btnSubmit").click(function () {
                var valid = true;
                if (checkPassword() == false) {
                    valid = false;
                }
                if (checkRepassword() == false) {
                    valid = false;
                }
                if (valid == false) {
                    return;
                }
                var password = $("#password").val();
                var json = {
                    "action": "submit",
                    "password": password,
                    "email": '{{$email}}',
                    "verifycode": '{{$verifycode}}'
                }; 
                $("#btnSubmit").addClass("disabled");
                $("#input").addClass("disabled");
                $.post("{{$rootpath}}/Member/forget_verify.php", json, function (data) {
                    if (data == "RIGHT") {
                        document.location.href = "{{$rootpath}}/Member/info.php" ;
                    } else {
                        alert(data);
                    }
                    $("#btnSubmit").removeClass("disabled");
                    $("#input").removeClass("disabled");
                });
        });
        $("#password").blur(function () {
            checkPassword();
        });
        function checkPassword() {
            var password = $("#password").val();
            if (password.length < 6) {
                showErrorTips("passwordtips", "请输入至少六位字符");
                return false;
            } else {
                var lv = 0;
                if (password.match(/[a-z]/g)) { lv++; }
                if (password.match(/[0-9]/g)) { lv++; }
                if (password.match(/(.[^a-z0-9])/g)) { lv++; }
                if (password.length < 6) { lv = 0; }
                if (lv > 3) { lv = 3; }
                if (lv <= 1) {
                    showErrorTips("passwordtips", "密码强度弱");
                } else if (lv == 2) {
                    showErrorTips("passwordtips", "密码强度中等");
                }
                else {
                    showCorrectTips("passwordtips", "密码强度强");
                }
            }
            return true;
        }
        $("#repassword").blur(function () {
            checkRepassword();
        });
        function checkRepassword() {
            var password = $("#password").val();
            var repassword = $("#repassword").val();
            if (repassword.length < 6) {
                showErrorTips("repasswordtips", "请输入确认密码");
                return false;
            } else {

                if (password != repassword) {
                    showErrorTips("repasswordtips", "请输入与密码相同的确认密码");
                    return false;
                } else {
                    showCorrectTips("repasswordtips", "正确");
                }
            }
            return true;
        }
    });
    function showErrorTips(id, msg) {
        $("#" + id).removeClass("righttips");
        $("#" + id).html(msg);
    }
    function showCorrectTips(id, msg) {
        $("#" + id).addClass("righttips");
        $("#" + id).html(msg);
    }
</script>


{{include  file="$smarty_root/footer.html" }}