{{include  file="$smarty_root/header.html" }}

<div class="row">
    <div class="col-md-11 col-md-offset-1 frame" >
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-1b134b22ce7e4037a2505c7f2b0e98bc">鹿寨县医院远程会诊室</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-9c4e83af071641978f8333ea67c08e09">鹿寨县妇幼保健院远程会诊室</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-fbca009ddb8d4b2ebb0bc45ece6b950b">鹿寨县中医院远程会诊室</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-b015a923004a4e9da2e7e2c191bc04c4">基层医疗卫生关键技术推广服务</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-eb05a7f9334749b79952726fc80ce3c3">中国各民族体质人类学表型特征调查</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-db363350a1a84556acdf03f4bec70fb4">常熟市远程医疗服务中心</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <a href="http://jwyk.gensee.com/webcast/site/entry/live-be39ca1fdfba43cf98ba0ed61d6b9f11">鹿寨县远程医疗服务中心</a>
                </h4>
            </div>
        </div>
    </div>
</div>


{{include  file="$smarty_root/footer.html" }}