{{include  file="$smarty_root/header.html" }}

<style >
    #list div {
        color: #000000;
        font-weight: bold;
    }
</style>
<div class="row">
    <div class="col-md-3 ">
        {{include  file="$smarty_root/subcatsearch.html" }}
    </div>

    <div class="col-md-9">
        <div class="row">
            <form action="{{$rootpath}}/Hospital/hospitallist.php">
                <input type="text" class="col-md-3" name="search" placeholder="输入关键词搜索">
                <button class="btn btn-default col-md-1" style="height:27px;padding-top:2px;width:50px;margin-left:9px;">搜索</button>
            </form>
            {{if $searchkeyword!=""}}
            <span class="col-md-8" style="padding-top:2px;">当前搜索："{{$searchkeyword}}"</span>
            {{/if}}
        </div>
        <div class="row" id="list">
            {{if $hospital_count>0}}
            <div class="col-lg-12">
                {{foreach from=$list item=rs}}
                <div class="col-md-4 text-center  Bold" style="margin-top:15px;">
                    <a href="{{$rootpath}}/Hospital/hospital.php?id={{$rs.id}}">
                        <div class="row" style="min-height:120px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                            <img class="col-lg-12" src="{{$uploadpath}}/hospital/{{$rs.photo}}" style="min-height:80px;" />
                            <div class="col-lg-12" style="margin-top:10px;">{{$rs.shortname}}</div>
                        </div>
                    </a>
                </div>
                {{/foreach}}
            </div>
            {{else}}
            <div class="col-lg-12" style="margin-top:25px;">
                没有找到相关的医院，请再准确您的关键字重新搜索。
            </div>
            {{/if}}
        </div>
        {{if $hospital_count>9 }}
        <div class="row " style="margin-top:25px;" id="pageer">
            <div class="col-md-6 col-md-offset-3 frame2 text-center ">
                <div class="row">
                    <span class="col-md-3"><a href="{{$rootpath}}/Hospital/hospitallist.php?search={{$searchkeyword}}&page=1">首页</a></span>
                    <span class="col-md-6">
                        {{foreach from=$page_arr.pages item=rs}}
                        <span ><a {{if $rs==$current_page}}class='selected'{{/if}} href="{{$rootpath}}/Hospital/hospitallist.php?search={{$searchkeyword}}&page={{$rs}}">{{$rs}}</a></span>
                        {{/foreach}}
                    </span>
                    <span class="col-md-3"><a href="{{$rootpath}}/Hospital/hospitallist.php?search={{$searchkeyword}}&page={{$page_arr.pagecount}}">末页</a></span>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
<div class="row">&nbsp;</div>




{{include  file="$smarty_root/footer.html" }}