body {
    background-image:url(../images/bg.png);
    background-repeat:repeat-x;
    font-family:'Microsoft YaHei';
}
a:link {
text-decoration: none;
}
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
.bold{
    font-weight:bold;
}
a:active {
text-decoration: none;
}
input::-webkit-input-placeholder {
color: #aaa !important; 
}
input:-moz-placeholder {
color: #aaa !important;
}
input::-moz-placeholder {
color: #aaa !important; 
}
input:-ms-input-placeholder {
color: #aaa !important;
}
.hr{
  display: block;
  height:1px;
  width: 100%;
  padding: 0;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.dothr{
  height:1px;
  padding: 0;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px dashed #aaa;
}
#loginnav {
    margin-top:30px;
}

#loginnav .navitem{
    color:#2E6995;
    font-weight:bold;
}
#loginnav .navitem img{
    width:27px;
}
#mainbody{
    width:932px;
    max-width:932px;
    min-width:932px;
    margin-left:auto;
    margin-right:auto;
}

#menu{
    background-color:#9DCDD2;
    border: 1px solid transparent;
    border-color:#FFFFFF;
    border-radius:4px;
    margin-top:30px;
    padding-top:5px;
    padding-bottom:5px;
}
#menucenter{
    margin-left:80px;
}
#logo{
    text-align:right;
}
#logo img{
    width:80px;
}
#title img{
    height:75px;
}
#menucenter .menuitem{
    width:96px;
    color:#2E6995;
    font-weight:bold;
    font-size:115%;
}
#menucenter .menuitem div{
    color:#2E6995;
}
#menucenter .menuitem img{
    width:40px;
}
#contentbody{
    min-height:400px;
    margin-top:10px;

}
#footer{
    background-color:#CBE6E7;
    border: 1px solid transparent;
    border-color:#D7D7D7;
    border-radius:4px;
    padding-top:20px;
    padding-bottom:20px;
}

.frame{
    background-color:#EEF5FF;
    border: 1px solid transparent;
    border-color:#D7D7D7;
    border-radius:2px;
}
.frame2{
    border: 1px solid transparent;
    border-color:#D7D7D7;
    border-radius:2px;
}
.frame3{
    background-color:#ffffff;
    border: 2px solid transparent;
    border-color:#D7D7D7;
    border-radius:2px;
}
.frame4{
    background-image:url(../images/lgbg.png);
    background-repeat:no-repeat;
    border: 0px solid transparent;
    border-color:#ffffff;
    border-radius:2px;
    width:582px;
    height:380px;
    color:#3A506D;
}
.frame4 input{
    
    border: 1px solid transparent;
    border-color:#9FCD9F;
}
.frame4 .title{
    height:65px;
    color:#cccccc;
    padding-top:30px;
    text-align:center;
    border-bottom-color:#aaa;
    border-bottom:1px dashed  ;
    margin-left:20px;
    margin-right:20px;
}
.frame4 .title span{
    color:#2468BF;
    font-weight:bold;
    font-size:16px;
}
.frame5{
    background-color:#EFF5FF;
    border: 1px solid transparent;
    border-color:#D7D7D7;
    border-radius:4px;
}

#pageer span{
    padding:5px;
}
#pageer .selected{
    padding:1px;
    border: 1px solid transparent;
    border-color:#D7D7D7;
    border-radius:2px;
}
.btn-success {
        background-color: #71B3CC;
        border-color: #71B3CC;
    }

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
        background-color: #2E6995;
        border-color: #2E6995;
    }
.test{
    background-color:#ffd800;
}
